$primary-color: #d7d7d7;

nav {
    width: 100%;
    height: 80px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-around ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
    .left {
        img {
            height: 50px;
            width: 50px;
        }
    }
    .center {

        a {
            text-decoration: none;
            margin-right: 20px;
            
        }
        a:hover {
            text-decoration: underline;
            

        }
    }
    .right {
        // width: 300px;
        // display: flex;
        // justify-content: space-between;
           
           
    .reg {
        background-color: rgb(206, 225, 225);
        margin-right: 20px;
        padding: 10px 25px;
        border: 0;
        border-radius: 5px;
    }     
   
    .log {
        border: 0;
        border-radius: 5px;
        padding: 10px 25px;
        background-color:rgb(122, 179, 230);

    }
     button:hover {
        transition: 0.2s ease-in;
        font-size: large;

    }
}
main {
    display: flex;
    background-color: whitesmoke;
    height: 80vh;
    width: 100vw;

    .left {
        flex: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .left-content {
            padding: 30px;
           
            h1 {
                margin-bottom: 20px;
                span {
                    color: tomato;
                }
            }
            h2 {
                margin-bottom: 20px;
            }
            button {
                background-color: rgb(156, 205, 225);
                color: white;
                height: 25px;
                cursor: pointer;
                width: 40%;
                border-radius: 10px;
            }
            
           
        }
    }

    .right {
        flex: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right-content{
        img {
        height: 300px;
        width: 300px;
        border-radius: 10%;
    }
}
}